.popup{
    position: fixed;
    top:0%;
    left:0%;
    right:0%;
    bottom:0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupbody{

    display: flex;
    flex-direction: column;
    background-color: #ccc;
    border-radius: 5px;
    padding:2em;
    
}



.popupbtns{
    display: flex;
    justify-content: flex-end;
}
.popupbtns > *{
    margin: 1em;
}

.text{
    border: none;
}

.actions{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}