body{
    background-color: aqua;
}

.profile-icon{
    font-size: 4rem;
}

.profile-img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.update-profile{
    display:none
}

/* homepage */

.home-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* cards in library */
.card-container{
    border-radius: 5px;
    background-color: rgb(48, 48, 48);
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom: 1em;

}

#indy-card{
    transition: all .2s ease-in-out;

}

#indy-card:hover,
#indy-card:focus{
    transform:scale(1.05);
}

/* hiding and displaying programs */
.hide{
    display:none
}
.program-item{
    transition: color .250ms ease-in-out;
}

.program-item:focus,
.program-item:hover{
    background-color: rgb(219, 218, 218);
}

/* .dropdown{
    display:none;
    position: absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;

} */

.program-container{
    border:1px solid red;
    display:grid
}