{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>All Posts</h1>
    <div class="container w-100 p-4">
        <h3>New Post</h3>
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{form.content}}
            </div>
            <input type="submit" class="btn btn-small btn-primary" value="Post">
        </form>
    </div>

    <div class="container mt-4 w-100">
        {%for post in page_obj%}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title"><a class="card-link border border-primary" href="{% url 'profile' post.user %}">{{post.user}}</a></h5>
                    <p class="card-text">{{post.content}}</p>
                    <div class="actions">
                        {% if post.user == request.user %}
                        <button data-id ="{{post.id}}" class="btn-edit btn btn-small btn-secondary">Edit</button>
                        {% endif %}
                    <a href="#" class="">❤️</a>
                    </div>
                    
                </div>
                <div class="card-footer text-muted">
                    {{post.date_created}}
                </div>
            </div>
        {% endfor %}
        <nav class="pagination" aria-label="Page navigation">
            <ul class="step-links pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number }}">previous</a></li>
                {% endif %}
            
                <!-- <li class="current page-item disabled">
                    <a href="#" class="page-link" aria-disabled="true">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.</a> 
                </li> -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                    {% elif num > page_obj.number|add:'-3' and page_obj.number|add:'3' > num %}
                        <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                   

                    {% endif %}
                    

                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">last &raquo;</a></li>
                {% endif %}
            </ul> 

        </nav>
    </div>
    {% block script %}
    <script src="{% static 'network/edit.js' %}"></script>
    
    {% endblock%}
{% endblock %}

