{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container text-white bg-dark p-5 mt-4 mb-4 d-flex justify-content-between">
        <div class="postcount-container">
            <div>{{postCount}}</div>
            <div class="post text-muted">Posts</div>
        </div>
        
        <div class="following-count-container">
            <div>{{following}}</div>
            <div class="post text-muted">Following</div>
        </div>
        <div class="followers-count-container">
            <div>{{followers}}</div>
            <div class="post text-muted">Followers</div>
        </div>
    </div>
    {% if not usernamefollow %}
    <div class="container">
        <form method="POST" action="{% url 'profile' username %}">
            {% csrf_token %}
            {% if displayfollowbtn %}
            <button type="submit" name="action" value="follow" class="btn btn-small btn-primary">Follow</button>
            {% else %}
            <button type="submit" name="action" value="unfollow" class="btn btn-small btn-secondary">Unfollow</button>
            {% endif %}
        </form>
        
    </div>
    {% else %}
    {% endif %}
    <div class="container mt-4 w-100">
        {%for post in page_obj%}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><a class="card-link" href="{% url 'profile' post.user %}">{{post.user}}</a></h5>
                        <p class="card-text" id="content{{post.id}}">{{post.content}}</p>
                        <div class="actions">
                            {% if post.user == request.user %}
                            <button data-id ="{{post.id}}" class="mb-2 btn-edit btn btn-small btn-secondary">Edit</button>
                            {% endif %}
                            <div class="like-containter">
                                {% if request.user in post.likers.all%}
                                <button data-id="{{post.id}}" class="likebtn like{{post.id}} btn btn-small">👎</button>
                                {% else %}
                                <button data-id="{{post.id}}" class="likebtn like{{post.id}} btn btn-small">👍</button>
                                {% endif %}
                                <button type="button" disabled class="likecounter{{post.id}} btn btn-small btn-outline-info">{{post.likers.all.count}}</button>

                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="card-footer text-muted">
                        {{post.date_created}}
                    </div>
                </div>
            {% endfor %}

            <nav class="pagination" aria-label="Page navigation">
                <ul class="step-links pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number }}">previous</a></li>
                    {% endif %}
                
                    <li class="current page-item disabled">
                        <a href="#" class="page-link" aria-disabled="true">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.</a> 
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">last &raquo;</a></li>
                    {% endif %}
                </ul> 

            </nav>
    </div>

    {% block script %}
    <script src="{% static 'network/edit.js' %}"></script>
    
    {% endblock%}
{% endblock %}
