{% extends "exercises/layout.html" %}


{% block content %}
    
    <div class="card ml-auto mr-auto mt-4" style="max-width: 18rem;">
        <img class="card-img-top" src="{{object.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{object.title}}</h5>
          <p class="card-text">{{object.description}}</p>
          <p class="card-text"><small class="text-muted">{{object.date_posted|date:" F d, Y"}}</small></p>
          <p class="card-text"><button class="btn btn-small btn-outline-primary">Edit</button></p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <small class="text-muted align-self-center">{{object.author}}</small>
            <img style="max-height: 50px; max-width: 50px;"class="profile-img rounded-circle img-fluid" src="{{object.author.profile.pic.url}}">
        </div>
      </div>

{% endblock content %}