{% extends "exercises/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

    <div class="container m-4">
        <a href="{% url 'create_program' %}"class="btn btn-primary">Create</a>
    </div>
    {% if programs %}
    <div class="container text-center">
        <div class="list-group">
            <button class="list-group-item btn btn-outline-primary mb-2 program-view">View Programs</button>
        
            {% for program in programs %}
            <button data-id={{program.id}} class="exerciseToggler list-group-item btn btn-outline-primary mb-2 program-item hide">{{program}}</button>
                
            <div class="exercises{{program.id}} m-4 list-item hide">
                {% for content in program.contents.all %}
                <div class="list-group-item btn btn-outline-secondary d-flex justify-content-around">
                    <span>{{content.exercise}}</span>
                    <span>
                        <a class="mr-1 btn btn-primary"href="{% url 'exercisestats_update' content.id %}"><i class="far fa-edit"></i></a>
                        <a class="ml-1 btn btn-danger" href="{% url 'exercisestats_delete' content.id %}"><i class="far fa-trash-alt"></i></a>
                    </span>
                </div>
                {% endfor %}
            </div>
                
            
            {% endfor %}

    
            
        </div>
       
    </div>
    {% else %}
    <div class="container">
        <p>You currently have no programs</p>
    </div>
    {% endif %}
    
    {% block script%}
    <script src="{% static 'exercises/programs.js' %}"></script>
   {% endblock %}
    
    
    

{% endblock content %}